<table class = "table">
  <tr>
  	<th> Borrowee_id: </th>
	  <th> Name: </th>
		<th> Size: </th>
		<th> Color: </th>
		<th> price_per/hour: </th>
		<th> price_per/day: </th>
    <th colspan="3"></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
    	<td><%= product.borrowee_id %></td>
      <td><%= product.name %></td>
      <td><%= product.size %></td>
      <td><%= product.color %></td>
      <td><%= product.priceph %></td>
      <td><%= product.pricepd %></td>

      <td><%= link_to 'Show', product_path(product) %></td>

  <% end %>
 </table>
