<!DOCTYPE html>
<html>
  <head>
    <title>ClothRentalStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.nil? %>
    <%else %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if borrower_signed_in? %>
                <%= render 'layouts/borrower_signed_in' %>
              <% end %>
              <% if borrowee_signed_in? %>
                <%= render 'layouts/borrowee_signed_in' %>
              <% end%>
            </ul>
          </nav>
        </div>
      </header>
    <% end %>
    <div class="container">
      <% if flash.present? %>
        <ul>
          <% flash.each do |key, message| %>
            <li class="<%= key %>"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>


